body {
  overflow-x: hidden;
}

p {
  font-size: 20px;
  &.small {
    font-size: 16px;
  }
}

a {
  color: $lightYellow;
  outline: none;
  &:hover, &:focus, &:active, &.active {
    color: $lightYellow;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $mainFont;
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  &.star-top, &.star-light, &.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  &.star-top:after, &.star-light:after, &.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }
  &.star-top {
    border-color: #FFF;
    &:after {
      background-color:  $darkYellow/1.1;
      color: #FFF;
    }
  }
  &.star-light {
    border-color: #FFF;
    &:after {
      background-color: $darkRed;
      color: #FFF;
    }
  }
  &.star-primary {
    border-color: $darkRed;
    &:after {
      background-color: $darkYellow/1.1;
      color: $darkRed;
    }
  }
}

.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  background:  $darkYellow/1.1;
  color: #FFF;
  .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  img {
    display: block;
    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      display: block;
      font-family: $mainFont;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2em;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}

@media (min-width: 768px) {
  header {
    .container {
      padding-top: 200px;
      padding-bottom: 100px;
    }
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      transition: all 0.3s;
    }
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.navbar {
  font-family: $mainFont;
  text-transform: uppercase;
  font-weight: 700;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: none;
    }
  }
}

.navbar-default, .navbar-inverse {
  border: none;
}

section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: $darkRed;
    color: #FFF;
    a {
      color: $darkYellow;
      outline: none;
      &:hover, &:focus, &:active, &.active {
        color: $darkYellow;
        outline: none;
      }
    }
  }
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
    &.first {
      padding-top: 75px;
    }
  }
}

#portfolio {
  background: $darkYellow/1.1;
  h2 {
    color: $darkRed;
  }
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    .portfolio-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .caption {
        background: $darkRed;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        &:hover {
          opacity: 1;
        }
        .caption-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          color: #FFF;
          i {
            margin-top: -12px;
          }
          h3, h4 {
            margin: 0;
          }
        }
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.btn-outline {
  color: #FFF;
  font-size: 20px;
  border: solid 2px #FFF;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  &:hover, &:focus, &:active, &.active {
    color: $lightYellow;
    background: #FFF;
    border: solid 2px #FFF;
  }
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #EEE;
  input, textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    color: #FFF;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #EEE;
  }
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #FFF;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #EEE;
}

footer {
  color: #FFF;
  h3 {
    margin-bottom: 30px;
  }
  .footer-above {
    padding-top: 50px;
    background-color: $darkYellow;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: $darkYellow;
  }
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #FFF;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn {
  &:focus, &:active, &.active {
    outline: none;
  }
}

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
  .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
    &:focus {
      outline: none;
    }
  }
}

.portfolio-modal {
  .modal-content {
    border-radius: 0;
    background-clip: border-box;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 3em;
    }
    img {
      margin-bottom: 30px;
    }
    .item-details {
      margin: 30px 0;
    }
  }
  .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      height: 75px;
      width: 1px;
      margin-left: 35px;
      background-color: $darkYellow;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: 1051;
      .rl {
        height: 75px;
        width: 1px;
        background-color: $darkYellow;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        z-index: 1052;
      }
    }
  }
  .modal-backdrop {
    opacity: 0;
    display: none;
  }
}

.btn-success {
  color: #ffffff;
  background-color: $lightRed;
  border-color: $lightRed;
  &:focus, &:hover, &:active {
    background-color: $darkRed;
    border-color: $darkRed/2;
  }
}

.navbar-default {
  background-color: $darkRed;
  border-color: $lightRed;
  .navbar-brand, .navbar-nav > li > a {
    color: #FFF;
  }
  .navbar-brand {
    &:hover, &:focus, &:active {
      color: $lightRed;
    }
  }
  .navbar-nav > li > a {
    &:hover, &:focus, &:active {
      color: $lightRed;
    }
  }
}

#contact {
  background-color: $darkYellow;
}

.navbar-default {
  .navbar-nav > li > a {
    color: #FFF;
    &:hover, &:focus {
      color: #333333;
      background-color: transparent;
    }
  }
  .navbar-toggle {
    border-color: #dddddd;
    &:hover, &:focus {
      background-color: #dddddd;
    }
    .icon-bar {
      background-color: #888888;
    }
  }
  .navbar-collapse, .navbar-form {
    border-color: #e7e7e7;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > {
    li > a {
      color: #FFF;
      &:hover, &:focus {
        color: #333333;
        background-color: transparent;
      }
    }
    .active > a {
      color: purple;
      background-color: #e7e7e7;
      &:hover, &:focus {
        color: purple;
        background-color: #e7e7e7;
      }
    }
    .disabled > a {
      color: #magenta;
      background-color: transparent;
      &:hover, &:focus {
        color: #magenta;
        background-color: transparent;
      }
    }
  }
}

fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus {
  color: #magenta;
}