body {
  font-family: Roboto;
  font-size: 100%;
  font-weight: 400;
  margin: auto;
  /*min-width: 50%;*/
  max-width: 700px;
  color: #CCC;
  background-color: #1d1d1d;
}
blockquote  {
  /*Without borders just fill color */
  /*background-color: #e0e0e0;*/
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: 120%;
  margin: 20px 0;
  padding: 5%;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
}
h2 {
  font-size: inherit;
  margin-top: 2%;
  margin-bottom: 1%;
  /*font-weight: normal;
  color: #f68a3d;
*/
}
/*strong {
  font-weight: normal;
  color: #ab8256;
}
*/p, ul {
  margin: 0px;
}
a {
  text-decoration: none;
  color: #4fb0db;
}
a:hover {
  text-decoration: underline;
  color: #4fb0db;
}
#switch_thems {
  float: right;
  position: relative;
  top: -40px;
  left: 0;
}

#switch_thems a {
  width: 120px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;  
  text-decoration: none;
  border: 1px solid #444;
  color: #9C9C9C;
}

  #switch_thems>a:hover {
  width: 120px;
  height: 40px;
  display: table-cell;
  border: 1px solid #444;
  background: #d2d2d2;
  color: #2d2d2d;
}

#bg {
  padding: 75px 60px;
  background-color: #2d2d2d;
  /*border: 1px solid #CCC;*/
}
