body {
  font-family: Roboto;
  font-size: 100%;
  font-weight: 400;
  margin: auto;
  max-width: 700px;
  color: #CCC;
  background-color: #1d1d1d;
}

blockquote {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: 120%;
  margin: 20px 0;
  padding: 5%;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
}

h2 {
  font-size: inherit;
  margin-top: 2%;
}

ul {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #4fb0db;
}

a:hover {
  text-decoration: underline;
  color: #4fb0db;
}

#switch_thems {
  float: right;
  position: relative;
  top: -40px;
  left: 20px;
}

#switch_thems a {
  width: 120px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border: 1px solid #444;
  color: #9C9C9C;
}

#switch_thems>a:hover {
  width: 120px;
  height: 40px;
  display: table-cell;
  border: 1px solid #444;
  background: #d2d2d2;
  color: #2d2d2d;
}

#bg {
  padding: 75px 60px;
  background-color: #2d2d2d;
}

@media screen and (max-width:400px) {
  body {
    font-family: Montserrat;
    font-size: 80%;
  }

  #switch_thems {
    top: -45px;
    left: 10px;
    font-size: 80%;
  }

  #switch_thems a {
    width: 96px;
    height: 32px;
  }

  #switch_thems>a:hover {
    width: 96px;
    height: 32px;
  }

  #bg {
    padding: 60px 30px;
  }

}
