@charset "iso-8859-1";
/* CSS Document */
/* Actually, the most interesting starts here...  I mean this is the main block. */

 .main-block {
   width: auto;
   background-color: #FFF;
 	padding-top: 32px;
 	padding-left: 123px; 
 	margin-left: 314px;
 	overflow: hidden;
 }
   .main-block h1 {
		font:22px Tahoma, sans-serif;
		margin: 20px 0;
   }
   .main-block p {
 		font:14px Tahoma, sans-serif; 
 		width: 700px;
 		text-align: justify;
		margin-bottom: 40px;
		}
   .main-block h1, .main-block p {      
	   color: #3f3f3f;
		}
	#ins {
		padding-right: 30px;
	}
	#current {
		font-weight: bold;
		}
	#ins #price {
		display: inline-block;
		width: 250px;
		height: 35px;
		padding-top: 7px;
		background: #62B1D0;
		font-size: 24px;
		color: #FFF;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
	}
	#ins #order {
		display: inline-block;
		width: 250px;
		height: 35px;
		padding-top: 5px;
		background: #FFF;
		outline: 1px #62B1D0 solid;
		font-size: 24px;
		color: #62B1D0;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
	}
		#ins #order:hover,
		#ins #price:hover {
			background: #B0D8E7;
		}
	#ins h1,
	#ins td a {
			color: #A61D00;
			font-size: 14px;
			}
	#ins table,
	#ins td {
		/* width: auto; */
		border: none;
		margin-top: 20px;
		padding-left: 10px;
		vertical-align: top;
	}
	table.description {
		width: 400px;
		border: none;
		float: left;
		margin-right: 10px;
	}
	table.description td {
		padding: 3px 0 3px 0;
	}
	tr.blue {
		background: #B6DFEF;
	}
	table#buttons {
		border: none;
		margin: 10px 0 0 420px;
	}
		table#buttons td {
		border: none;
	}
	#ins h1 {
		font-size: 28px;		
		text-align: left;
		}
		
	#ins td h2,
	#ins td h3 {
		font-weight: bolder;
		margin: 0 0 10px 0;
	}
	#ins h2,
	#ins h3,
	#ins h4,
	#ins p,
	#ins td,
	#ins nav a {
	  color: #226078;
	  font: 12px Arial, Helvetica, sans-serif;
	  text-decoration: none;
	  text-align: justify;
	  }
	  #ins nav a:hover {
	  text-decoration:underline;
	  }
	  #ins h2 {
	  		font-size: 14px;
	  		}
	  #ins h3 {
	  		font-size: 18px;
	  		}
	  #ins h4 {
	  		font-size: 24px;
	  		margin: 0 0 0 14px;
	  		}	